doctype html
- var title = 'JSDC 2016';
- var description = 'JavaScript 開發者年會 ( JavaScript Developers Conference，簡稱 JSDC ) 是台灣最⼤的 JavaScript 年度性技術研討會，旨在提供台灣中⾼階 JavaScript 技術人才與世界最新 JavaScript 相關技術討論與分享。';
- var coverImage = 'http://2016.jsdc.tw/dist/images/jsdc.jpg';
- var cssPath = './dist/css';
- var jsPath = './dist/js';
- var lang = 'zh-hant';

html(lang='#{lang}')
  head    
    block title
      title #{title}

    //- html 設定
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='author', content='JSDC Members')
    meta(name='copyright', content='JSDC Taiwan')
    meta(name='keywords', content='website,javascript,js,JSDC,Taiwan,2016')

    //- SEO meta 設定
    meta(itemprop='name', content='#{title}')
    meta(itemprop='description', content='#{description}')
    meta(itemprop='image', content='#{coverImage}')

    //- og 設定
    meta(property='og:type', content='website')
    meta(property='og:title', content='#{title}')
    meta(property='og:description', content='#{description}')
    meta(property='og:image', content='#{coverImage}')
    meta(property='og:url', content='http://2016.jsdc.tw/')
    meta(property='og:site_name', content='#{title}')
    
    //- twitter 設定
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@jsdc_tw')
    meta(name='twitter:title' content='#{title}')
    meta(name='twitter:description' content='#{description}')
    meta(property='twitter:image', content='#{coverImage}')
    meta(property='twitter:creator', content='@jsdc_tw')
    link(href='#{coverImage}' rel='image_src' type='image/jpeg')

    //- css 設定
    link(rel='shortcut icon', href='http://2016.jsdc.tw/dist/favicons/favicon.ico')
    link(rel='stylesheet', href='#{cssPath}/bootstrap.css')
    link(rel='stylesheet', href='#{cssPath}/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='#{cssPath}/owl.carousel.css')
    link(rel='stylesheet', href='#{cssPath}/animate.css')
    link(rel='stylesheet', href='#{cssPath}/balloon.css')
    link(rel='stylesheet', href='#{cssPath}/jquery-ui.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='#{cssPath}/headline.css')
    link(rel='stylesheet', href='#{cssPath}/main.css')

    //- js 設定
    script(src='#{jsPath}/jquery-1.11.2.min.js')
    script(src='#{jsPath}/bootstrap.min.js')
    script(src='#{jsPath}/jquery.backstretch.min.js')
    script(src='#{jsPath}/jquery.lazyload.min.js')
    script(src='#{jsPath}/jquery-ui.min.js')
    script(src='#{jsPath}/jquery.easing.min.min.js')
    script(src='#{jsPath}/skel.min.js')
    script(src='#{jsPath}/util.min.js')
    script(src='#{jsPath}/owl.carousel.min.js')
    script(src='#{jsPath}/headline.min.js')
    script(src='#{jsPath}/elevator.min.min.js')
    script(src='#{jsPath}/main.min.js')
    include ../partials/_google-analytics

  body

    block content

    include ../partials/_footer
    include ../partials/_type-form
